body {
	font-family: Arial, Helvetica, sans-serif;
	}

#wrapper {
	width: 750px;
	overflow: hidden;
	margin: -10px auto;
	padding: 0 10px 10px 10px;
	background-color: #F2EFDC;
	}

/*three column css*/
#threeColLayout #primaryContent {
	float: left;
	width: 270px;
	margin: 10px 0 20px 195px;
	}
#threeColLayout #secondaryContent {
	float: left;
	width: 270px;
	margin: 10px 0 20px 15px;
	}
#threeColLayout #sideContent {
	float: left;
	width: 180px;
	margin: 10px 0px 20px -750px;
	}

/*two column css*/	
#twoColLayout #primaryContent {
	float: left;
	width: 555px;
	margin: 10px 0 20px 195px;
	}	
#twoColLayout #secondaryContent {
	display: none;
	}
#twoColLayout #sideContent {
	float: left;
	width: 180px;
	margin: 10px 0px 20px -750px;
	}
	
/*one column css*/
#oneColLayout #primaryContent {
	width: 750px;
	margin: 10px 0 20px 0;
	}
#oneColLayout #secondaryContent {
	display: none;
	}
#oneColLayout #sideContent {
	display: none;
	}

/*navigation bar*/	
#mainNav {
	margin: 0 -10px 0 -10px;
	padding: 10px;
	background: #081E27;
	overflow: hidden;
	}
#mainNav h1 {
	color: #069DC1;
	margin: 20px 0 10px 15px;
	}
body.home #mainNav a#home, body.home #mainNav a#about, body.home #mainNav a#news, body.home #mainNav a#interviews, body.home #mainNav a#gallery, body.home #mainNav a#careers, body.home #mainNav a#forum, body.home #mainNav a#members, body.home #mainNav a#contact {
	color: #fff;
	}
body.home #mainNav a:hover#home, body.home #mainNav a:hover#about, body.home #mainNav a:hover#news, body.home #mainNav a:hover#interviews, body.home #mainNav a:hover#gallery, body.home #mainNav a:hover#careers, body.home #mainNav a:hover#forum, body.home #mainNav a:hover#members, body.home #mainNav a:hover#contact {
	color: #686868;
	}
body.home #mainNav li {
	float: left;
	list-style-type: none;
	}
body.home #mainNav li a {
	font-size: 14px;
	display: block;
	padding: 5px;
	margin-right: 20px;
	text-decoration: none;
	}

/*primary and secondary content*/
.box {
	margin: 15px 0 0 0;
	padding: 5px 0 5px 0;
	}
.box h2 {
	margin-bottom: 10px;
	text-align: center;
	background: #04F3FF;
	}
.box h4 {
	margin-bottom: 10px;
	text-transform: uppercase;
	background: #7BB8C0;
	}	
.cbb {
	border-radius: 15px;
	margin: 0 10px 0 10px;
	background: #FFF;
	overflow: hidden;
	padding: 5px;
	line-height: 170%;
	}
.cbb p {
	line-height: 110%;
	font-size: 12px;
	}
.side {
	margin-left: 65px;
	}
img {
	float: left;
	margin: 0px 0 2px 5px;
	border: 2px solid #C5BDBD;
	}
.default {
	border: 0;
	}
.user {
	margin-top: 10px;
	}
.mainImage {
	float: none;
	display: block;
	margin-top: 4px;
	border: 3px solid #C5BDBD;
	}

/*external links*/
.box a[href^="http:"], .box a[href^="https:"] {
	background: url("images/link.png") no-repeat right top;
	background-size: 10px;
	padding-right: 10px;
	}
.box a[href^="http://www.morethandoodles.com"], .box a[href^="https://www.morethandoodles.com"], .box a[href^="http://morethandoodles.com"], .box a[href^="https://morethandoodles.com"] {
	background-image: none;
	padding-right: 0;
	}

/*side content*/
.cbSide ul {
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0;
	margin-bottom: 0;
	padding: 3px;
	}
.cbSide li a:link {
	color: #333;
	line-height: 150%;
	text-decoration: none;
	display: block;
	width: 175px;
	border-bottom: 1px solid #EDEAEB;
	background: #FFF;
	}
.cbSide li a:visited {
	color: #999;
	line-height: 150%;
	display: block;
	width: 175px;
	border-bottom: 1px solid #EDEAEB;
	background: #FFF url("images/check.jpg") 150px 0;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	}
.cbSide li a:hover {
	color: #990000;
	line-height: 150%;
	display: block;
	width: 175px;
	border-bottom: 1px solid #EDEAEB;
	background: #FFF url("images/arrow.jpg") 150px 0;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	}
.cbSide li a:active {
	color: #0C51BF;
	line-height: 150%;
	text-decoration: none;
	display: block;
	width: 175px;
	border-bottom: 1px solid #EDEAEB;
	background: #FFF url("images/check.jpg") 150px 0;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	}

/*footer*/
#footer {
	clear: both;
	color: white;
	font-size: 14px;
	margin: 0 -10px -10px -10px;
	padding: 5px;
	background: #081E27;
	}