body {
    font-family: Arial, Helvetica, sans-serif
}

#mainNav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#mainNav li {
    float: left;
}

#mainNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#mainNav li a:hover {
    background-color: grey;
}

.active {
    background-color: steelblue;
}