<head>
    <title>Xuan Vu</title>
    <link rel="stylesheet" type="text/css" href="IDs_Classes_x.css">
</head>
<body>
    <ul id="mainNav">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <h1>Xuan Vu</h1>
</body>